# Entornos virtuales de Python
venv/
env/
.venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Variables de entorno (¡Nunca subas tus contraseñas de BD a GitHub!)
.env

# Archivos propios del sistema operativo o editores de código
.vscode/
.DS_Store

# Archivos de imagenes de perfil
backend/static/uploads/profiles/

# Archivos de respaldos de base de datos
backend/backups/